@import "https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css"; */
/* @import 'tahoma.ttf'; */

@font-face {
  font-family: tahoma;
  src: url("./tahoma.ttf");
}

.loading_buffer {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  width:100px;
  height:100px;
  top:calc(50% - 50px);
  left:calc(50% - 50px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* font-xl */
* {
  font-size: 1.25rem;
  line-height: 1.75rem;
}


th {
  border-bottom: 1px solid black
}

th, td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.dump_red {
  border: 1px solid red;
}
.dump_blue {
  border: 1px solid blue;
}
.dump_green {
  border: 1px solid green;
}

h1 {
  font-weight: bold;
  /* text-2xl */
  font-size: 1.5rem;
  line-height: 2rem;
  /* end text-2xl */
}

h2 {
  font-weight: bold;
  /* text-xl */
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* end text-xl */
}

h3 {
  font-weight: bold;
  /* text-lg */
  font-size: 1.125rem;
  line-height: 1.75rem;
  /* end text-lg */
}

h4 {
  font-weight: bold;
  /* text-base */
  font-size: 1rem;
  line-height: 1.5rem;
  /* end text-base */
}

h5 {
  font-weight: bold;
  /* text-sm */
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* end text-sm */
}

h6 {
  font-weight: bold;
  /* text-xs */
  font-size: 0.75rem;
  line-height: 1rem;
  /* end text-xs */
}

.detail-container ol, 
.detail-container ul, 
.detail-container menu,
dialog ol, 
dialog ul, 
#info ol, 
#info ul
{
  list-style: auto;
  margin: revert;
  padding: revert;
}

p a,
.detail-container a,
dialog a,
dialog a,
#info a,
#info a 
{
  color: revert;
  text-decoration: revert;
  -webkit-text-decoration: revert;
}

@layer components {
  .hide {
    @apply hidden
  }
  .detail-container p {
    @apply mb-3
  }

  input[type='checkbox']{
    @apply align-middle
  }

  *[name], option[value], textarea {
    @apply text-sm rounded-lg p-2.5
  }

  input,textarea {
    @apply 
    bg-gray-50 border
    border-gray-300 
    text-gray-900
    focus:ring-blue-500
    focus:border-blue-500
    dark:bg-gray-700
    dark:border-gray-600 
    dark:placeholder-gray-400
    dark:text-white
    dark:focus:ring-blue-500
    dark:focus:border-blue-500
  }
}

/* button */
@layer components {
  .button-nav {
    @apply px-3 font-semibold shadow-sm mx-2 hover:bg-slate-100
  }
  .button {
    @apply py-1 px-3 font-semibold shadow-sm mx-2 bg-neutral-200 hover:bg-neutral-400 rounded-full
  }
  .button-danger {
    @apply py-1 px-3 font-semibold shadow-sm mx-2 rounded-full bg-red-500 hover:text-white hover:bg-red-700
  }
  .button-violet {
    @apply text-white py-1 px-3 font-semibold shadow-sm mx-2 bg-violet-400 hover:bg-violet-600 rounded-full
  }
  .button-primary {
    @apply text-white py-1 px-3 font-semibold shadow-sm mx-2 bg-blue-500 hover:bg-blue-700 rounded-full
  }
  .button-safe {
    @apply text-white py-1 px-3 font-semibold shadow-sm mx-2 bg-green-400 hover:bg-green-600 rounded-full
  }
}

.add_dmlEntry button{
  display: none;
}
.add_dmlEntry:hover button{
  display: block;
}

/* Aside details */
@layer components {
  .focus {
    @apply cursor-pointer 
    hover:bg-blue-500 hover:text-white 
    focus:bg-blue-500 focus:text-white
  }
  aside details > summary {
    @apply flex items-center focus rounded-lg list-none
  }
  aside details > div {
    @apply ml-5    
  }
  aside details > div > a {
    @apply flex items-center focus rounded-lg p-1
  }
}

/* Dropdown */
@layer componentns {
  .dropdown {
    @apply relative inline-block
  }
  .dropdown-content {
    @apply absolute bg-neutral-100 min-w-40 shadow-lg py-3 z-10 rounded-sm
  }
  .dropdown-menu {
    @apply px-4 py-2 block hover:bg-blue-600 hover:text-white cursor-pointer
  }
}

/* Misc */
@layer componentns {
  code {
    @apply 
    inline-block
    mt-1 mb-1 p-2
    rounded-lg
    bg-gray-700
    text-pink-400    
    dark:bg-neutral-100
    dark:text-pink-600
  }
  * {
    @apply
    dark:bg-neutral-900
    dark:text-white
  }
}

@layer components {
  .listtree summary {
    @apply text-sm hover:bg-blue-500 hover:text-white pl-1
  }
  .listtree .obj {
    @apply text-sm mx-3 hover:bg-blue-500 hover:text-white pl-1
  }
  .listtree a {
    @apply text-sm
  }
}




/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: ;
} */
/* 
.wf-1\% {width:1%}
.wf-2\% {width:2%}
.wf-3\% {width:3%}
.wf-4\% {width:4%}
.wf-5\% {width:5%}
.wf-6\% {width:6%}
.wf-7\% {width:7%}
.wf-8\% {width:8%}
.wf-9\% {width:9%}
.wf-10\% {width:10%}
.wf-11\% {width:11%}
.wf-12\% {width:12%}
.wf-13\% {width:13%}
.wf-14\% {width:14%}
.wf-15\% {width:15%}
.wf-16\% {width:16%}
.wf-17\% {width:17%}
.wf-18\% {width:18%}
.wf-19\% {width:19%}
.wf-20\% {width:20%}
.wf-21\% {width:21%}
.wf-22\% {width:22%}
.wf-23\% {width:23%}
.wf-24\% {width:24%}
.wf-25\% {width:25%}
.wf-26\% {width:26%}
.wf-27\% {width:27%}
.wf-28\% {width:28%}
.wf-29\% {width:29%}
.wf-30\% {width:30%}
.wf-31\% {width:31%}
.wf-32\% {width:32%}
.wf-33\% {width:33%}
.wf-34\% {width:34%}
.wf-35\% {width:35%}
.wf-36\% {width:36%}
.wf-37\% {width:37%}
.wf-38\% {width:38%}
.wf-39\% {width:39%}
.wf-40\% {width:40%}
.wf-41\% {width:41%}
.wf-42\% {width:42%}
.wf-43\% {width:43%}
.wf-44\% {width:44%}
.wf-45\% {width:45%}
.wf-46\% {width:46%}
.wf-47\% {width:47%}
.wf-48\% {width:48%}
.wf-49\% {width:49%}
.wf-50\% {width:50%}
.wf-51\% {width:51%}
.wf-52\% {width:52%}
.wf-53\% {width:53%}
.wf-54\% {width:54%}
.wf-55\% {width:55%}
.wf-56\% {width:56%}
.wf-57\% {width:57%}
.wf-58\% {width:58%}
.wf-59\% {width:59%}
.wf-60\% {width:60%}
.wf-61\% {width:61%}
.wf-62\% {width:62%}
.wf-63\% {width:63%}
.wf-64\% {width:64%}
.wf-65\% {width:65%}
.wf-66\% {width:66%}
.wf-67\% {width:67%}
.wf-68\% {width:68%}
.wf-69\% {width:69%}
.wf-70\% {width:70%}
.wf-71\% {width:71%}
.wf-72\% {width:72%}
.wf-73\% {width:73%}
.wf-74\% {width:74%}
.wf-75\% {width:75%}
.wf-76\% {width:76%}
.wf-77\% {width:77%}
.wf-78\% {width:78%}
.wf-79\% {width:79%}
.wf-80\% {width:80%}
.wf-81\% {width:81%}
.wf-82\% {width:82%}
.wf-83\% {width:83%}
.wf-84\% {width:84%}
.wf-85\% {width:85%}
.wf-86\% {width:86%}
.wf-87\% {width:87%}
.wf-88\% {width:88%}
.wf-89\% {width:89%}
.wf-90\% {width:90%}
.wf-91\% {width:91%}
.wf-92\% {width:92%}
.wf-93\% {width:93%}
.wf-94\% {width:94%}
.wf-95\% {width:95%}
.wf-96\% {width:96%}
.wf-97\% {width:97%}
.wf-98\% {width:98%}
.wf-99\% {width:99%}
.wf-100\% {width:100%} */
