@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tahoma.ttf'; */

@font-face {
  font-family: tahoma;
  src: url("./tahoma.ttf");
}

/* ref https://codepen.io/loquemedalagana/pen/eYWrXYQ */
@keyframes growup {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes growdown {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
.sizing {
  width: 500px;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: inherit;
}
.loadingBar {
  animation-duration: 3s;
  animation-name: growup;
  animation-iteration-count: infinite;
  height: inherit;
  background: #0057a8;
  opacity: 1;
}


th {
  border-bottom: 1px solid black
}

th, td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.dump_red {
  border: 1px solid red;
}

h1 {
  font-weight: bold;
  /* text-2xl */
  font-size: 1.5rem;
  line-height: 2rem;
  /* end text-2xl */
}

h2 {
  font-weight: bold;
  /* text-xl */
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* end text-xl */
}

h3 {
  font-weight: bold;
  /* text-lg */
  font-size: 1.125rem;
  line-height: 1.75rem;
  /* end text-lg */
}

h4 {
  font-weight: bold;
  /* text-base */
  font-size: 1rem;
  line-height: 1.5rem;
  /* end text-base */
}

h5 {
  font-weight: bold;
  /* text-sm */
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* end text-sm */
}

h6 {
  font-weight: bold;
  /* text-xs */
  font-size: 0.75rem;
  line-height: 1rem;
  /* end text-xs */
}

ol, ul, menu {
  list-style: auto;
  margin: revert;
  padding: revert;
}

a {
  color: revert;
  text-decoration: revert;
  -webkit-text-decoration: revert;
}

@layer components {
  p {
    @apply mb-3
  }
}