@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tahoma.ttf'; */

@font-face {
  font-family: tahoma;
  src: url("./tahoma.ttf");
}

th{
  border-bottom: 1px solid black
}
th,td{
  padding: 2px;
  padding-left:5px;
  padding-right:5px;
}

.dump_red{border:1px solid red;}