@tailwind components;

:root{
  --csdb-sc-text-01: #49a8fabb;
  --csdb-sc-text-02: #49faf4bb;
  --csdb-sc-text-03: #49fa61bb;
  --csdb-sc-text-04: #f1fa49bb;
  --csdb-sc-text-05: #fa4949bd;
}

table tbody:before {
  content:"@";
  display:block;
  line-height:6pt;
  text-indent:-99999px;
}

.csdbobjectcontent *{
  font-family:Tahoma, sans-serif;
}

.csdbobjectcontent{
  text-wrap: wrap;
  text-align: justify;
  word-wrap:break-word;
}

.csdbobjectcontent ul, .csdbobjectcontent ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.csdbobjectcontent a {
  color: revert;
  text-decoration: revert;
  -webkit-text-decoration: revert;
}

.sc-01, .sc-02, .sc-03, .sc-04, .sc-05 {
  position:absolute;
  height: 100%;
  width: .6cm;
  right: -.6cm;
}

.sc-01 {
  background-color: var(--csdb-sc-text-01);
  background-image: url('http://127.0.0.1:8000/images/unclassified.png');
}

.sc-02 {
  background-color: var(--csdb-sc-text-02);
  background-image: url('http://127.0.0.1:8000/images/restricted.png');
}

.sc-03 {
  background-color: var(--csdb-sc-text-03);
  background-image: url('http://127.0.0.1:8000/images/confidential.png');
}

.sc-04 {
  background-color: var(--csdb-sc-text-04);
  background-image: url('http://127.0.0.1:8000/images/secret.png');
}

.sc-05 {
  background-color: var(--csdb-sc-text-05);
  background-image: url('http://127.0.0.1:8000/images/topsecret.png');
}

.csdbobjectcontent .table{
  border-collapse: collapse;
  width: 100%;
}

.csdbobjectcontent td {
  vertical-align: top;
}

.footnote, .footnote * {
  font-size: 8pt !important;
}
.footnote-table * {
  font-size: 8pt !important;
}
.footnote-tfoot tr {
  border-collapse: collapse;
}
.footnote-tfoot tr *{
  font-size: 8pt !important;
}
.footnote-tfoot tr td {
  padding-top: 0;
}

/* for General  */
@layer components {
  .csdbobjectcontent {
    @apply
    px-3
    py-3
    block
    relative
    shadow-2xl
    w-[21cm] /* == 21 cm kertas A4*/
    min-h-[29cm] /* == 29.7cm kertas A4 */
  }
  .csdbobjectcontent h1, .csdbobjectcontent h2{
    @apply mb-[6pt]
  } 
  .csdbobjectcontent .header {
    @apply flex justify-between h-[2.5cm] py-2 px-3 border-b-4 border-black mb-[12pt] mx-[1cm]
  }
  .csdbobjectcontent .header *{
    @apply font-bold
  }
  .csdbobjectcontent .logo{
    @apply h-[2cm] w-[30%]
  }
  .csdbobjectcontent .logo > img{
    @apply max-h-[2cm]
  }
  .csdbobjectcontent .sc{
    @apply h-[2cm] w-[30%] text-center 
  }
  .csdbobjectcontent .object-code{
    @apply h-[2cm] w-[40%] text-[12pt] text-end
  }
  .csdbobjectcontent p {
    @apply text-[11pt] leading-[20pt]
  }
  .csdbobjectcontent .note, .csdbobjectcontent .warning, .csdbobjectcontent .caution {
    @apply mt-[12pt] mb-[16pt] flex justify-center
  }
  .csdbobjectcontent .note .symbol, .csdbobjectcontent .warning .symbol, .csdbobjectcontent .caution .symbol {
    @apply w-full flex justify-center mb-[6pt]
  }
  .csdbobjectcontent .note .symbol > img, .csdbobjectcontent .warning .symbol > img, .csdbobjectcontent .caution .symbol > img {
    @apply max-h-[24pt]
  }
  .csdbobjectcontent .note .container, .csdbobjectcontent .warning .container, .csdbobjectcontent .caution .container {
    @apply w-[70%] border-2 border-gray-400 p-[3pt]
  }


  .security * {
    @apply
    text-[12pt]
  }
  .security .securityClassification-01 {
    @apply text-[#49a8fabb]
  }
  .security .securityClassification-02 {
    @apply text-[#49faf4bb]
  }
  .security .securityClassification-03 {
    @apply text-[#49fa61bb]
  }
  .security .securityClassification-04 {
    @apply text-[#f1fa49bb]
  }
  .security .securityClassification-05 {
    @apply text-[--csdb-sc-text-05]
  }

  .em06{
    @apply underline font-bold
  }
  .em07{
    @apply underline italic
  }
  .em08{
    @apply font-bold italic
  }
  .em09 {
    @apply font-bold italic underline
  }
}

/* for IdentStatus Csdb4 vue */
@layer components {
  .identAndStatusSection {
    @apply block
  }

  .identAndStatusSection * {
    @apply text-sm
  }
  .dmAddress, .dmStatus {
    @apply inline-block mx-3 p-2 text-wrap
  }
}

/* for Front Matter */
@layer components {
  .frontMatter {
    @apply 
    /* border border-red-500 */
    mx-[1cm]
  }
  .frontMatterTitlePage .productIntroName{
    @apply
    /* border border-green-300 */
    text-center
    text-[45pt]
    leading-[7rem]
    px-[11pt]
  }
  .frontMatterTitlePage .pmTitle{
    @apply 
    /* border border-green-500 */
    text-center
    text-[30pt]
    leading-[3.5rem] 
    px-[11pt]
  }
  .frontMatterTitlePage .shortPmTitle{
    @apply 
    /* border border-green-700 */
    text-center
    text-[20pt]
    leading-[3rem]
  }
  .frontMatterTitlePage .pmAddress{
    @apply 
    /* border border-red-900 */
    mt-[24pt]
    mb-[14pt]
    mx-[1cm]
  }
  .frontMatterTitlePage .pmAddress *{
    @apply 
    text-[11pt]
    leading-[14pt]
  }
  .frontMatterTitlePage .issueInfo{
    @apply 
    /* border border-blue-500 */
    text-[11pt]    
  }
  .frontMatterTitlePage .externalPubCode, .frontMatterTitlePage .externalPubCode *{
    @apply 
    /* border border-yellow-100 */
    text-[11pt]
    mx-[1cm]
    leading-[14pt]
  }
  .frontMatterTitlePage .productAndModel{
    @apply 
    /* border border-pink-300 */
    mt-[11pt]
    mx-[1cm]
  }
  .frontMatterTitlePage .productAndModel *{
    @apply 
    /* border border-pink-500 */
    text-[11pt]
    leading-[14pt]
  }
  .frontMatterTitlePage .security {
    @apply 
    /* border border-pink-500 */
    text-[16pt]
    w-full
    text-center
    py-1
    font-bold
  }

  /* insert for dataRestriction element here */
  
  .frontMatterTitlePage .productIllustration {
    @apply 
    border border-pink-500
    w-full
    h-[7cm]
    mb-[14pt]
  }


  /* start Manufacturer */
  .frontMatterTitlePage .manufacturer  {
    @apply
    py-[6pt] mx-[1cm]
  }
  .frontMatterTitlePage .manufacturer * {
    @apply
    text-[8pt]
  }
  .frontMatterTitlePage .manufacturer .enterprise {
    @apply
    flex space-x-4
  }
  .frontMatterTitlePage .enterpriseLogo {
    @apply
    border border-blue-500
    min-w-[2cm]
    h-[2cm]
  }
  .frontMatterTitlePage .enterpriseSpec {
    @apply 
    /* border border-yellow-500 */
    w-full
    grid
    content-center
  }
  .frontMatterTitlePage .enterpriseSpec * {
    @apply 
    /* border border-yellow-500 */
    text-[11pt]
    leading-[11pt]
  }
  /* end of Manufacturer */

  /* start Publisher */
  .frontMatterTitlePage .publisher  {
    @apply
    py-[6pt] mx-[1cm]
  }
  .frontMatterTitlePage .publisher * {
    @apply
    text-[8pt]
  }
  .frontMatterTitlePage .publisher .enterprise {
    @apply
    flex space-x-4
  }
  .frontMatterTitlePage .publisherLogo {
    @apply
    border border-blue-500
    /* max-h-[2cm] */
    min-w-[2cm]
    h-[2cm]
  }
  .frontMatterTitlePage .publisher .responsiblePartnerCompany {
    @apply 
    /* border border-yellow-500 */
    w-full
    grid
    content-center
    text-[11pt]
  }
  .frontMatterTitlePage .publisher .responsiblePartnerCompany * {
    @apply 
    /* border border-yellow-500 */
    text-[11pt]
    leading-[11pt]
  }
  /* end of Publisher */

  .frontMatterTitlePage hr {
    @apply
    border-2 border-black my-5
  }

  /* start Front Matter Info */
  .frontMatterTitlePage .frontMatterInfo{
    @apply block relative
  }
  .frontMatterTitlePage .frontMatterInfo .title {
    @apply font-bold 
  }
  /* end start Front Matter Info */

  .frontMatterList {
    @apply mt-[6pt] mb-[18pt]
  }
  .frontMatterList table {
    @apply border-b-2 border-black
  }
  
  /* frontMatterList type fm02 */
  .frontMatterList * {
    @apply
    text-[11pt] leading-[16pt]
  }
  .frontMatterEntryList{
    @apply table-auto
  }

  .frontMatter > .title {
    @apply 
    text-[16pt] leading-[28pt] text-center
  }
  .frontMatter > .issueInfo {
    @apply
    text-[16pt] leading-[17pt] text-center
  }
  .frontMatterSubList {
    @apply mt-[18pt] mb-[24pt]
  }
  .frontMatterSubList .title {
    @apply text-center text-[14pt] mb-[12pt]
  }
  table[class=frontMatterEntryList] {
    @apply table-auto text-center
  }
  table[class=frontMatterEntryList] thead{
    @apply border-b-2 border-t-2 border-black
  }
  /* fm02 */
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .title{
    @apply w-[5cm] leading-[16pt] text-[11pt]
  }
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .code{
    @apply w-[5cm] leading-[16pt] text-nowrap text-left
  }
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .issueType{
    @apply w-[1cm] leading-[16pt]
  }
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .issueDate-issueNumber{
    @apply w-[3cm] leading-[16pt]
  }
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .numberOfPages{
    @apply w-[1cm] leading-[16pt]
  }
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .applicability{
    @apply w-[5cm] leading-[16pt]
  }
  div[frontMatterType=fm02] table[class=frontMatterEntryList] .remarks{
    @apply w-[5cm] leading-[16pt]
  }
  /* fm03 */
  div[frontMatterType=fm03] table[class=frontMatterEntryList] .code{
    @apply w-[8cm] leading-[16pt] text-nowrap text-left
  }
  div[frontMatterType=fm03] table[class=frontMatterEntryList] .reason-for-update{
    @apply w-[10cm] leading-[16pt] text-start
  }
  /* fm04 */
  div[frontMatterType=fm04] table[class=frontMatterEntryList] .title{
    @apply w-[5cm] leading-[16pt] text-[11pt]
  }
  /* .frontMatterEntryList tr .code:nth-child(1) */
  div[frontMatterType=fm04] .frontMatterEntryList:nth-child(odd) tr .code{
    @apply w-[8cm] leading-[16pt] text-nowrap text-left
  }
  div[frontMatterType=fm04] .frontMatterEntryList:nth-child(even) tr .code:nth-child(1){
    @apply w-[5cm] leading-[16pt] text-nowrap text-left
  }
  div[frontMatterType=fm04] table[class=frontMatterEntryList] .reason-for-update{
    @apply w-[10cm] leading-[16pt] text-start
  }
  
  /* 
  table[class=frontMatterEntryList] .issueDate-issueNumber{
    @apply w-[4cm] border
  }
  table[class=frontMatterEntryList] .numberOfPages{
    @apply w-[4cm] border
  }
  table[class=frontMatterEntryList] .applicability{
    @apply w-[3cm] border
  }
  table[class=frontMatterEntryList] .remarks{
    @apply w-[6cm] border
  } */

}

/* for Description */
@layer components {
  .description {
    @apply 
    /* border border-red-500 */
    mx-[1cm]
  }
  .description * {
    @apply text-[11pt]
  }
  .description > .title {
    @apply text-[16pt] text-center mb-[10pt]
  }
  .description .levelledPara {
    @apply mb-[16pt]
  }
  .description .levelledPara * {
    @apply text-[11pt]
  }
  .description .levelledPara[level='1'] .title {
    @apply text-[14pt]
  }
  .description .levelledPara[level='2'] .title {
    @apply text-[12pt]
  }
  .description .levelledPara[level='3'] .title, .description .levelledPara[level='4'] .title, .description .levelledPara[level='5'] .title {
    @apply text-[12pt]
  }
}

/* for Description Crew */
@layer components {
  .crew > .title {
    @apply text-[16pt] text-center mb-[10pt]
  }
  .descrCrew {
    @apply 
    /* border border-red-500 */
    mx-[1cm]
  }
  .descrCrew * {
    @apply text-[11pt]
  }
  .descrCrew .levelledPara {
    @apply mb-[16pt]
  }
  .descrCrew .levelledPara * {
    @apply text-[11pt]
  }
  .descrCrew .levelledPara[level='1'] .title {
    @apply text-[14pt]
  }
  .descrCrew .levelledPara[level='2'] .title {
    @apply text-[12pt]
  }
  .descrCrew .levelledPara[level='3'] .title, .descrCrew .levelledPara[level='4'] .title, .descrCrew .levelledPara[level='5'] .title {
    @apply text-[12pt]
  }
}