<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config [
  <!ELEMENT config (output, security, textElemGroup)>

  <!ELEMENT output (method+,layout?)>
  <!ELEMENT method (path+)>
  <!ELEMENT path (#PCDATA)>
  <!ELEMENT layout EMPTY>

  <!ELEMENT security (securityClassification+,commercialClassification?,caveat?, derivativeClassification?)>
  <!ELEMENT securityClassification (#PCDATA)>
  <!ELEMENT commercialClassification (#PCDATA)>
  <!ELEMENT caveat (#PCDATA)>
  <!ELEMENT derivativeClassification (action+)>
  <!ELEMENT action (#PCDATA)>

  <!ELEMENT textElemGroup (emphasis|crewMember|crewStepCondition|skillType|skillLevelCode)*>
  <!ELEMENT emphasis (#PCDATA)>
  <!ELEMENT crewMember (#PCDATA)>
  <!ELEMENT crewStepCondition (#PCDATA)>
  <!ELEMENT skillType (#PCDATA)>
  <!ELEMENT skillLevelCode (#PCDATA)>

  <!ATTLIST method type (html|pdf) #REQUIRED>
  <!ATTLIST path product-name CDATA #REQUIRED>
  <!ATTLIST layout master-name CDATA #REQUIRED>

  <!ATTLIST layout width CDATA #REQUIRED>
  <!ATTLIST layout height CDATA #REQUIRED>
  <!ATTLIST layout region-before CDATA #REQUIRED>
  <!ATTLIST layout region-after CDATA #REQUIRED>
  <!ATTLIST layout start-indent CDATA #IMPLIED>

  <!ATTLIST layout margin-top CDATA #REQUIRED>
  <!ATTLIST layout margin-bottom CDATA #REQUIRED>
  <!ATTLIST layout margin-right CDATA #REQUIRED>
  <!ATTLIST layout margin-left CDATA #REQUIRED>

  <!ATTLIST layout orientation (port|land) #IMPLIED>
  <!ATTLIST securityClassification code CDATA #REQUIRED>
  <!ATTLIST commercialClassification code CDATA #REQUIRED>
  <!ATTLIST caveat code CDATA #REQUIRED>
  <!ATTLIST action code CDATA #REQUIRED>

  <!ATTLIST emphasis type CDATA #REQUIRED>
  <!ATTLIST crewMember type CDATA #REQUIRED>
  <!ATTLIST crewStepCondition type CDATA #REQUIRED>
  <!ATTLIST skillType type CDATA #REQUIRED>
  <!ATTLIST skillLevelCode type CDATA #REQUIRED>
]>

<config>
  <output>
    <method type="html">
      <path product-name="*">html/Main.xsl</path>
    </method>
    <method type="pdf">
      <path product-name="CN235">pdf/CN235/Main.xsl</path>
      <path product-name="CN235-220M">pdf/CN235/Main.xsl</path>
      <path product-name="MALE">pdf/MALE/Main.xsl</path>
    </method>
    <layout master-name="default-A4" orientation="port" 
      margin-top="1cm" margin-bottom="1cm"
      margin-left="3cm" margin-right="1.5cm"
      width="21cm" height="29.7cm"
      region-before="1.5cm" region-after="2cm"
      start-indent="1.5cm"/>
  </output>
  <security>
    <securityClassification code="01">UNCLASSIFIED</securityClassification>
    <securityClassification code="02">RESTRICTED</securityClassification>
    <securityClassification code="03">CONFIDENTIAL</securityClassification>
    <securityClassification code="04">SECRET</securityClassification>
    <securityClassification code="05">bottom SECRET</securityClassification>
    <securityClassification code="05">left SECRET</securityClassification>
    <commercialClassification code="cc51">FOO CC</commercialClassification>
    <caveat code="cv51">FOO CAVEAT</caveat>
    <derivativeClassification>
      <action code="ai01">Classified On</action>
      <action code="ai02">Declasify On</action>
      <action code="ai03">Downgrande On</action>
      <action code="ai04">Upgrade On</action>
      <action code="ai05">Downgrade SC to 03</action>
      <action code="ai06">Downgrade SC to 04</action>
      <action code="ai07">Downgrade SC to 05</action>
      <action code="ai08">Upgrade SC to 03</action>
      <action code="ai09">Upgrade SC to 04</action>
      <action code="ai10">Upgrade SC to 05</action>
    </derivativeClassification>
  </security>
  <textElemGroup>
    <emphasis type="em01">bold</emphasis>
    <emphasis type="em02">italic</emphasis>
    <emphasis type="em03">underline</emphasis>
    <emphasis type="em05">strikethrough</emphasis>
    <emphasis type="em06">underline-bold</emphasis>
    <emphasis type="em07">underline-italic</emphasis>
    <emphasis type="em08">bold-italic</emphasis>
    <emphasis type="em09">bold-italic-underline</emphasis>
    <crewMember type="cm01">All</crewMember>
    <crewMember type="cm02">Pilot</crewMember>
    <crewMember type="cm03">Co-Pilot</crewMember>
    <crewMember type="cm04">Navigator</crewMember>
    <crewMember type="cm05">Engineer</crewMember>
    <crewMember type="cm06">Ground Crew</crewMember>
    <crewMember type="cm07">Load Master</crewMember>
    <crewMember type="cm08">Cabin Spv.</crewMember>
    <crewMember type="cm51">CM1</crewMember>
    <crewMember type="cm52">CM2</crewMember>
    <crewMember type="cm53">CM3</crewMember>
    <crewStepCondition type="csc01">Equipment is installed or available</crewStepCondition>
    <crewStepCondition type="csc02">A detailed procedure for the step is located in the performance section of the condensed checklists</crewStepCondition>
    <crewStepCondition type="csc03">Performance of the step is mandatory for all through-flights used for combat/tactical operations</crewStepCondition>
    <crewStepCondition type="csc04">A step that is mandatory for night flights</crewStepCondition>
    <crewStepCondition type="csc05">A task or step required by the operator's manual</crewStepCondition>
    <skillType type="st01">AIRPL</skillType>
    <skillType type="st02">ELEC</skillType>
    <skillType type="st03">AVION</skillType>
    <skillType type="st04">ENGIN</skillType>
    <skillLevelCode type="sk01">Basic</skillLevelCode>
    <skillLevelCode type="sk02">Intermediate</skillLevelCode>
    <skillLevelCode type="sk03">Advanced</skillLevelCode>
  </textElemGroup>
</config>
